<%- include('../layouts/adminheader.ejs') %>
  <script src="https://cdn.jsdelivr.net/gh/BossBele/cropzee@latest/dist/cropzee.js" defer></script>
  <%- include('../layouts/admin_nav.ejs') %>

            <!-- Body: Body -->
            <div class="body d-flex py-3">
                <div class="container-xxl">

                    <div class="row align-items-center">
                        <div class="border-0 mb-4">
                            <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                <h3 class="fw-bold mb-0">Add New Category</h3>
                            </div>
                        </div>
                    </div> <!-- Row end  -->  
                    
                    
                        <div class="col-lg-8">
                            <div class="card mb-3">
                               
                                <div class="card-body">
                                    <form method="post" action="/admin/addCategory">
                                        <div class="row g-3 align-items-center">
                                            <div class="col-12">
                                                <label for="categoryName"  class="form-label">Category Name</label>
                                                <input name="categoryName"  type="text" class="form-control">
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" style="margin-top:0px;" class="col-6 form-control btn btn-primary py-2 px-5 mt-3 text-uppercase btn-set-task w-sm-100">Add Category</button>
                                            </div>
                                           
                                    </form>
                                </div>
                            </div>
                            
                    </div>

                </div>
            </div>    


            <%- include('../layouts/adminfooter.ejs') %>
           