<!-- All JS is here
============================================ -->

<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Include Bootstrap JS (if not already included) -->


</body>


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone// by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2024 07:56:22 GMT -->
</html>