

<!-- <!doctype html> -->
<!-- <html class="no-js" lang="zxx"> -->

<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:35:46 GMT -->
<!-- <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="public/assets/css/bootstrap.min.css"> -->
    <!-- Icon Font CSS -->
    <!-- <link rel="stylesheet" href="assets/css/icons.min.css"> -->
    <!-- Plugins CSS -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.css"> -->
    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <!-- Modernizer JS -->
    <!-- <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script> -->
<!-- </head> -->

<!-- <body> -->


    <!-- <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-4 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-toggle="tab" href="#lg1">
                                <h4> login </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="/login" method="post">
                                            <input type="text" name="email" placeholder="Email">
                                            <input type="password" name="user-password" placeholder="Password">
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <input type="checkbox">
                                                    <label>Remember me</label>
                                                    <a href="/signup">signup</a>
                                                </div>
                                                <button type="submit"><span>Login</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->


    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <!-- <script src="assets/js/vendor/jquery-v3.4.1.min.js"></script> -->
    <!-- Popper JS -->
    <!-- <script src="assets/js/popper.min.js"></script> -->
    <!-- Bootstrap JS -->
    <!-- <script src="assets/js/bootstrap.min.js"></script> -->
    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins.js"></script> -->
    <!-- Ajax Mail -->
    <!-- <script src="assets/js/ajax-mail.js"></script> -->
    <!-- Main JS -->
    <!-- <script src="assets/js/main.js"></script> -->

<!-- </body> -->


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:35:46 GMT -->

<!-- </html> -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #fff;
    }

    .login-container {
      max-width: 400px;
      width: 100%;
      padding: 1px;
      text-align: center; 
    }

    .logo {
      max-width: 100px;
      margin-bottom: 20px; 
    }

    .form-control {
      border: 2px solid #ced4da; 
      border-radius: 0px; 
      height: 46px;
    }

    .btn-primary {
      background-color: #000; 
      border-color: #000;
      height: 46px;
      color: #fff; /* Set text color to white */
    }

    .btn-primary:hover {
      background-color: #000; /* No hover effect */
      border-color: #000;
    }

    /* Remove underline from <a> tag */
    a {
      text-decoration: none;
      color: #000; /* Set link color to black */
    }

    /* Style for links in a paragraph */
    p a {
      color: #000; /* Set link color to black */
    }
  </style>
</head>

<body>

<div class="login-container">

  <img src="Images/icons8-pinterest.svg" alt="Brand Logo" class="logo">

  <h2 class="text-center mb-4">Login</h2>

  <!-- Email input -->
  <div class="form-group">
    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
  </div>

  <!-- Password input -->
  <div class="form-group">
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>

  <!-- Login button -->
  <button type="submit" class="btn btn-primary btn-block">Submit</button>

  <!-- Forget Password and Login with number links -->
  <br>
  <a href="#" class="mr-2">Forget Password</a> |
  <a href="#">Login with number</a>
  <br>
  <br>

  <!-- Create an account link -->
  <p class="text-center mt-2">Don't have an account? <a href="/signup">Create an account</a></p>
  
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
