


<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">About us </li>
            </ul>
        </div>
    </div>
</div>


<div class="welcome-area pt-100 pb-95">
    <div class="container">
        <div class="welcome-content text-center">
            <h5>Who Are We</h5>
            <h1>Welcome To Megx</h1>
            <p>
                <video width="800px" height="400px" autoplay loop>
                    <!-- <source src="assets\img\brand-logo\SnapSave.io-Balenciaga Spring 22 Campaign-(1080p).mp4" type="video/mp4"> -->
                    Your browser does not support the video tag.
                </video>
            </p>
        </div>
    </div>
</div>
<!-- <div class="brand-logo-area pb-100 about-brand-logo">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-1.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-2.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-3.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-4.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="assets/img/brand-logo/barnd-logo-5.png" alt="">
            </div>
        </div>
    </div>
</div> -->


<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/foot.ejs')%>